.topArticleContainer {
	padding: 10px 20px 20px;
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	justify-items: center;
	color: white;
}

.topArticle {
	margin: auto;
	display: flex;
	flex-direction: column;
	font-family: SpectralSC-Regular;
}

.topArticleTitle {
	font-size: 1.7em;
	line-height: 1.6em;
}

.topArticleSubTitle {
	margin-top: 30px;
	font-size: 1.5em;
	line-height: 1.4em;
}

.topArticleText {
	margin-left: 20px;
	font-size: 1.3em;
	line-height: 1.2em;
}

.topArticleLetters {
	background-color: rgba(0, 0, 0, .28);
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, .28);
	border-radius: 50%;
}

.topArticleImgContainer {
	height: 100%;
	width: 100%;
	display: flex;
}

.topArticleImg {
	width: 190px;
	height: 277px;
	margin: auto;
}

.bottomArticle {
	width: 90%;
	margin: 80px auto 0;
	color: white;
}

.bottomArticleTitle {
	font-size: 1.6em;
	line-height: 1.5em;
}

.bottomArticleText {
	width: 94%;
	margin: 0 auto;
	font-size: 1.3em;
	line-height: 1.2em;
}