* {
	box-sizing: border-box;
}

html, body {
	overflow: hidden;
}

body {
	margin: 0;
	width: 100%;
	height: 100vh;
	color: #F8F8F8;
	font-family: 'Cinzel', serif;
	background-color: black;
	display: flex;
	flex-direction: column;
	min-width: 320px;
	transition-duration: 2s;
}

header {
	height: 100%;
	position: relative;
	display: flex;
	background-image: url(../img/roza2.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 26vh;
	opacity: 0;
	box-shadow: 0 0 60px 40px black;
	user-select: none;
	z-index: 0;
}

#languageToggle {
	position: absolute;
	top: -25px;
	right: 1px;
	width: 75px;
	height: 40px;
	box-shadow: 0 0 3px 0px white;
	border-radius: 3px;
	transition-duration: .35s;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	opacity: 0;
}

#languageToggle:hover {
	box-shadow: 0 0 8px 1px white;
	top: -1px;
	cursor: default;
}

#languageToggle p {
	position: absolute;
	display: inline-block;
	bottom: -1px;
	font-size: .72em;
	transition-duration: .35s;
	margin: 0;
}

.languageFlags {
	position: absolute;
	width: 30px;
	height: 30px;
	background-image: url("../img/flags.png");
	background-repeat: no-repeat;
	background-size: 300% 100%;
	transition-duration: .3s;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.5);
}

.languageFlagBg {
	left: 23px;
	right: auto;
	top: -14px;
	background-position: 0 0;
	z-index: 2;
}

.languageFlagEn {
	left: 1px;
	right: auto;
	top: -14px;
	background-position: -30px 0;
	z-index: 1;
}

.languageFlagIt {
	left: auto;
	right: 1px;
	top: -14px;
	background-position: -60px 0;
}

h1 {
	margin: auto;
	font-size: 1.9em;
	letter-spacing: -3px;
	background-color: rgba(0,0,0,0.3);
	box-shadow: 0 0 8px 3px rgba(0,0,0,0.4);
}

.h1Letters {
	opacity: 0;
	background-color: rgba(0,0,0,0.3);
	box-shadow: 0 0 1px 5px rgba(0,0,0,0.2);
	text-shadow: 0 0 20px black;
}

.h1Letter6 {
	margin-left: 15px;
}

nav {
	position: absolute;
	bottom: -15px;
	width: 290px;
	height: 30px;
	left: 50%;
	margin-left: -145px;
	display: flex;
	justify-content: space-between;
	opacity: 0;
	z-index: 1;
}

.navItems {
	font-size: 1.05em;
	position: relative;
	top: 0;
	width: 105px;
	height: 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: black;
	box-shadow: 0 0 8px 2px black;
	cursor: default;
	transition-duration: .4s;
	padding-top: 4px;
	border-radius: 5px;
	z-index: -1;
}

#navMain {
	position: absolute;
	width: 100%;
	bottom: -4px;
	display: flex;
	transition-duration: 1s;
	background-color: black;
	box-shadow: 0 0 15px 4px rgba(0,0,0,0.7);
	opacity: 0;
	z-index: -1;
}

.subItemsL, .subItemsR {
	position: absolute;
	left: 0;
	width: 100%;
	height: 17px;
	text-align: center;
	font-size: .85em;
	color: #BCBCBC;
	opacity: 0;
	display: none;
	transition-duration: .38s;
	pointer-events: none;
}

.subItemsL1 {
	bottom: 12px;
}

.subItemsL2 {
	bottom: 6px;
	z-index: -1;
}

.subItemsL3 {
	bottom: 9px;
	text-align: center;
	opacity: 1;
	z-index: 1;
}

.subItemsR1 {
	bottom: 7px
}

.subItemsR2 {
	bottom: 12px;
}

.subLinks {
	height: 16px;
	transition-duration: .35s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.subLinks:hover {
	color: #FFFFFF;
	text-shadow: 0px 0px 15px white;
}

.subLinksL3 {
	top: 1px;
	width: 100%;
	height: 22px;
}

.subLinksR2 {
	text-align: center;
	pointer-events: none;
}

.subLinksR2:hover {
	width: 100px;
}

.externalLinksContainer {
	position: absolute;
	width: 100%;
	box-shadow: 0 0 4px 2px black;
	transition-duration: .35s;
	opacity: 1;
	background-color: black;
}

.externalLinks {
	position: absolute;
	left: 0;
	bottom: 2px;
	width: 100%;
	height: 24px;
	color: #F8F8F8;
	transition-duration: .35s;
	z-index: -1;
	opacity: 0;
	padding-top: 2px;
}

a img {
	position: absolute;
	height: 20px;
	transition-duration: .45s;
}

.links {
	opacity: .75;
	transition-duration: .45s;
}

.links:hover {
	opacity: 1;
}

.subLinksMain {
	margin: auto;
	cursor: default;
}

#github, #linkedin {
	top: -1px;
	opacity: 0;
}

#github {
	left: 8px;
}

#linkedin {
	right: 8px;
}

#mainHrTop, #mainHrBottom {
	position: absolute;
	margin: 0;
	width: 100%;
    height: 1px;
	border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
	background-color: black;
	opacity: 0;
}

#mainHrTop {
	bottom: 0;
}

#mainHrBottom {
	top: 0;
}

main {
	position: relative;
	height: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	letter-spacing: 1px;
}

#mainCrack {
	position: fixed;
	left: 0px;
	top: 50%;
	margin-top: -50%;
	width: 100%;
	height: auto;
	opacity: 0;
}

h2, h3, p {
	text-shadow: 0 0 10px white;
	background-color: rgba(0,0,0,0.2);
}

h2 {
	margin: 0 0 15px 0px;
	font-size: 1.6em;
}

h3 {
	margin: 15px 0 0 0;
	font-size: 1.3em;
}

p {
	font-size: 1.05em;
	line-height: 18px;
	background-color: rgba(0,0,0,0.3);
	box-shadow: 0 0 8px 1px rgba(0,0,0,0.4);
}

.initialParagraphs {
	position: relative;
}

.letterSpan {
	text-align: center;
	transition-duration: 1.6s;
}

.coverSpan {
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	opacity: 0;
	transition-duration: 1s;
}

#blurrEffect {
	position: fixed;
	left: 0px;
	width: 0;
	background-color: black;
	margin-left: 0;
	opacity: 0;
	display: none;
}

#initialSection {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	transition-duration: 1.4s;
	opacity: 0;
}

.initialArticle {
	position: relative;
	margin-top: auto;
	margin-bottom: 40px;
}

.initialArticle1 {
	width: 90%;
	min-height: 280px;
	margin: 40px auto;
	display: grid;
	grid-template-columns: auto auto;
	justify-items: center;
}

.initialArticle2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 180px;
}

.articleDiv {
	display: flex;
	flex-direction: column;
}

.article1Div1 {

}

.article1Div1 h3 {
	margin: 17px 0 0 10px;
}

.article1Div1 p {
	margin: 0 0 10px 25px;
}

.article1Div2 {
	justify-content: center;
	min-width: 120px;
}

#photoDiv {
	width: 100%;
	height: 100%;
	min-width: 80px;
	max-width: 145px;
	min-height: 160px;
	max-height: 240px;
	display: flex;
}

.photo {
	border-radius: 4px;
	width: 85%;
	margin: auto;
	background-color: rgba(0,0,0,0.5);
	box-shadow: 0 0 8px 3px rgba(0,0,0,0.8);
}

.article2Div1 {
	width: 90%;
	justify-content: center;
}

.article2Div1 h3 {
	margin-bottom: 10px;
}

.article2Div1 p {
	margin: 0 25px;
	text-align: justify;
}

/*											LEFT MENU SECTIONS     */

#cvSection1, #cvSection2 {
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	padding-right: 17px;
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
	transition-duration: 1.4s;
	opacity: 0;
	display: none;
}

#cvSection2 {
	opacity: 0;
	text-align: center;
	justify-content: center;
	align-items: center;
}

#cv1Embed1 {
	margin: auto auto;
	width: 92%;
	height: 92%;
	box-shadow: 0 0 5px 5px black;
}

#iframeContainer {
	width: 96%;
	height: 100%;
	max-width: 800px;
	max-height: 489px;
	margin: auto;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 20px 12px black;
}

#cv2iframe {
	width: 100%;
	height: 100%;
	min-width: 300px;
	min-height: 300px;
	max-width: 800px;
	max-height: 485px;
	margin: auto;
	box-shadow: 0 0 28px 18px black;
}

.cv2Substitute {
	position: absolute;
	width: 80%;
	color: #F8F8F8;
}

.keyboard {
	opacity: 1;
}

/*											RIGHT MENU SECTIONS */

#certificateSection {
	position: absolute;
	top: 0;
	left: 0;
	width: 103%;
	height: 100%;
	padding-right: 17px;
	background-color: rgba(0,0,0,0.7);
	transition-duration: 1.4s;
	opacity: 0;
	display: none;
	overflow-y: auto;
}

#certificateContainer {
	position: relative;
	width: 100%;
	margin: 30px auto;
	display: flex;
	flex direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	
}

.certificateHover {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.certificates {
	box-shadow: 0 0 20px 8px black;
}

.certificateWide {
	width: 100%;
	min-width: 140px;
}

.certificateHigh {
	width: 100%;
	min-width: 140px;
}

.certificateText {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 100%;
	min-width: 155px;
	display: flex;
	background-color: rgba(0,0,0,0.6);
	transition-duration: .5s;
	opacity: 0;
}

.certificateText p {
	margin: auto;
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0 0 18px 9px rgba(0,0,0,0.8);
	padding: 5px 10px;
	border-radius: 3px;
	user-select: none;
}

.pdfContainer {
	position: absolute;
	width: 100%;
	height: 94%;
	margin: 10px 0;
	z-index: -1;
	opacity: 0;
	transition-duration: .6s;
	background-color: black;
	box-shadow: 0 0 50px 25px black;
}

.hiddenPdf {
	width: 100%;
	height: 100%;
	z-index: 1;
}

@media only screen and (max-width: 600px) {
	.hiddenPdf {
		width: 100%;
		height: 100%;
	}
}

.pdfExitContainer {
	position: absolute;
	bottom: 10px;
	width: 100%;
	height: 0px;
	transition-duration: .3s;
	display: flex;
	align-items: center;
}

.exitText {
	position: absolute;
	left: 50%;
	top: -20px;
	margin: 0 0 0 -90px;
	width: 180px;
	height: 48px;
	padding: 5px 15px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	background-color: rgba(49,53,56, .92);
	box-shadow: 0 0 5px 1px #313538;
	text-shadow: 0 0 5px black;
	transition-duration: .3s;
	user-select: none;
	opacity: 0;
}

/*											FOOTER 		*/

#up {
	position: fixed;
	right: 5%;
	bottom: 55px;
	width: 40px;
	height: 60px;
	background-color: black;
	background-image: url("../img/skull2.png");
	background-size: contain;
	background-repeat: no-repeat;
	transition-duration: .6s;
	border-radius: 35%;
	box-shadow: 0 0 12px 7px black;
	z-index: 1;
	opacity: 0;
}

footer {
	position: relative;
	height: 0;
	font-size: .8em;
	display: flex;
	box-shadow: 0 0 60px 40px black;
	z-index: -1;
}

.footText {
	opacity: 0;
	margin: auto;
}

#flake1, #flake2 {
	position: absolute;
	width: 1px;
	height: 1px;
	background-color: white;
	box-shadow: 0 0 7px 1px white;
	z-index: 10;
	opacity: 0;
}

@media screen and (max-width: 600px) {
	#up {
		width: 35px;
		height: 56px;
	}
}