.mainSection {
	position: relative;
	width: 100%;
	height: 0vh;
	padding: 20px;
	display: flex;
	flex-direction: column;
	transition-duration: 1.05s;
	transition-timing-function: ease-in-out;
	overflow-y: scroll;
	opacity: 0;
}

.topArticle {
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	justify-items: center;
	align-items: center;
}

.topArticleCanvas {
	width: 260px;
	height: 280px;
	margin-top: 30px;
}

.topArticleImg {
	width: 70%;
}

.bottomArticleCanvas {
	/*width: 90%;*/
	margin: 40px auto;
	background-color: purple;
}