nav {
	position: absolute;
	bottom: 0px;
	width: 320px;
	height: 20px;
	display: flex;
	justify-content: center;
	color: white;
	transform: translateY(50%);
	transition-duration: 1s;
	opacity: 0;
	user-select: none;
	z-index: 1;
}

.navSectionL, .navSectionR {
	position: relative;
	width: 35%;
	height: 18px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.navSectionR {
	height: 60px;
	margin-left: 70px;
}

.navSectionTitle {
	position: relative;
	width: 100%;
	display: inline-block;
	font-family: "SpectralSC-light";
	font-size: 1.1em;
	line-height: 1em;
	background-color: black;
	box-shadow: 0 0 8px 5px black;
	border-radius: 6px;
	z-index: 3;
}

.navSectionLButton, .navSectionRButton {
	position: absolute;
	top: 0;
	height: 14px;
	margin: 3px 0;
	padding: 0;
	font-family: SpectralSC-Regular;
	color: #EEEEEE;
	font-size: 13px;
	line-height: 13px;
	background-color: black;
	transition-duration: .2s;
	border-radius: 3px;
	border: none;
	box-shadow: none;
}

.navSectionLButton:focus, .navSectionRButton:focus {
	outline: none;
}

.navSectionLButton1 {
	z-index: 2;
}

.navSectionLButton2 {
	z-index: 1;
}

.navSectionLButton3 {
	z-index: 0;
}

.navSectionRButton1 {
	z-index: 0;
}

.buttonSpan {
	margin: 0 2px;
}

.navButtonMain {
	position: absolute;
	left: 50%;
	bottom: -70%;
	width: 58px;
	height: 22px;
	color: white;
	font-family: "SpectralSC-light";
	font-size: 15px;
	background-color: rgba(0, 0, 0, 0);
	transform: translateX(-50%);
	border: none;
}