@font-face {
	font-family: "rune";
	src: url("./assets/fonts/rune.ttf") format("ttf");
	src: url("./assets/fonts/rune.woff") format("woff");
	src: url("./assets/fonts/rune.woff2") format("woff2");
}

@font-face {
	font-family: "SpectralSC";
	src: url("./assets/fonts/SpectralSC-Medium.ttf") format("ttf");
	src: url("./assets/fonts/SpectralSC-Medium.woff") format("woff");
	src: url("./assets/fonts/SpectralSC-Medium.woff2") format("woff2");
}

@font-face {
	font-family: "SpectralSC-reular";
	src: url("./assets/fonts/SpectralSC-Regular.ttf") format("ttf");
	src: url("./assets/fonts/SpectralSC-Regular.woff") format("woff");
	src: url("./assets/fonts/SpectralSC-Regular.woff2") format("woff2");
}

* {
	margin: 0;
	box-sizing: border-box;
	letter-spacing: 1px;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background-color: black;
}

.mainCanvas {
	position: fixed;
}

.pageContainer {
	position: relative;
	height: 28vh;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 12vh auto 8vh;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
	opacity: 0;
}

header {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, .7);
	box-shadow: 0 0 28px 25px black;
	z-index: 1;
}

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 90%;
	transform: translate(-50%, -50%);
	transition-duration: 1s;
}

.headerTitle, .headerTitle2 {
	position: absolute;
	font-family: SpectralSC-Regular;
	font-size: 2em;
	font-weight: normal;
	text-shadow: 0 0 10px white;
}

main {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	opacity: 1;
	user-select: none;
}

.hrTop, .hrBottom {
	position: absolute;
	margin: 0;
	width: 100%;
	height: 1px;
	border: 0;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.hrTop {
	bottom: 0;
}

.hrBottom {
	top: 0;
}

footer {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0);
}

.footerText {
	color: white;
	letter-spacing: 0.5px;
	transform: translateY(-8vh);
	transition-duration: .8s;
	transition-timing-function: ease-in-out;
}